* {
  /* //border: 1px solid purple; */
}

body {
  background-color: silver;

  min-height: 100vh; /* 100% of viewport height */

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: sans-serif;
}

.card-wrapper {
  min-width: 400px;
  margin: 0 auto;
  padding: 16px;

  background-color: white;
  border-radius: 4px;
  box-shadow: -1px 2px 4px 0px rgba(0, 0, 0, 0.35);
}

.card-title {
  font-weight: bold;
  font-size: 20px;
}
.card-description {
  font-size: 14px;
  color: darkslategray;
}
