* {
  /* //border: 1px solid purple; */
}

:root {
  font-size: 14px;
  --border-radius: 4px;
  --primary-color: purple;
  --secondy-color: darkslategray;
}

body {
  background-color: silver;

  min-height: 100vh; /* 100% of viewport height */

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: sans-serif;
}

.card-wrapper {
  min-width: 320px;
  max-width: 500px;
  margin: 0 auto;

  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: -1px 2px 4px 0px rgba(0, 0, 0, 0.35);
  overflow: hidden;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 1.5rem;
}

.card-title {
  font-weight: bold;
  font-size: 1.5rem;
}
.card-description {
  color: darkslategray;
}
.card-content p {
  color: rgb(80, 80, 80);
}

button {
  color: var(--primary-color);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 0.6rem 0.5rem 0.5rem;
  border-radius: var(--border-radius);
}

button.ghost-button {
  background: none;
  border: none;
  cursor: pointer;
}

button.ghost-button:hover {
  background-color: var(--primary-color);
  color: white;
}

.card-actions {
}

.card-actions button.ghost-button:first-child {
  position: relative;
  left: -0.5rem;
}

.card-content:has(.card-actions) {
  padding-bottom: 1rem;
}
